/* My plan is to have a fixed navbar at the top of the page so at any time a user can quickly nav between my About/info, work samples, and contact information */

nav {
    display:flex;
    justify-content:center;
    background-color:darkred;
    border-style:solid;
    border-color:black;
    margin:0px 250px;
}

nav figure {
    display:inline;
}

nav h1 {
    flex: 1 1 0;
    display:inline;
    font-family:Garamond, Times, serif;
    font-weight:bold;
    font-size:xx-large;
    justify-content:space-between;
    color:white;

}

nav h1:hover {
    text-decoration:underline;
    cursor:pointer;
    text-shadow:5px 2px 2px black;
}

nav h1:focus {
    color:gold;
}

main {
    margin:15px 10px;
    padding:5px;
}

.AboutMe {
    
}

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 640px) {

}